In [1]:
'Hello Capstone Project Course'

'Hello Capstone Project Course'

Notebook will be used to scrape code on wikilink all relevant enbalers idwentified

In [2]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

soup = BeautifulSoup(source, 'lxml')

In [4]:
table = soup.find('table',{'class':'wikitable sortable'})

In [5]:
table_rows = table.find_all('tr')

In [6]:
data = []
for row in table_rows:
    data.append([t.text.strip() for t in row.find_all('td')])

df = pd.DataFrame(data, columns=['PostalCode', 'Borough', 'Neighbourhood'])
df = df[~df['PostalCode'].isnull()]

Data into Dataframe

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 287 entries, 1 to 287
Data columns (total 3 columns):
PostalCode       287 non-null object
Borough          287 non-null object
Neighbourhood    287 non-null object
dtypes: object(3)
memory usage: 9.0+ KB

In [8]:
df.shape

(287, 3)

In [9]:
import pandas

website_text = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(website_text,'lxml')

table = soup.find('table',{'class':'wikitable sortable'})
table_rows = table.find_all('tr')

data = []
for row in table_rows:
    data.append([t.text.strip() for t in row.find_all('td')])

df = pandas.DataFrame(data, columns=['PostalCode', 'Borough', 'Neighbourhood'])
df = df[~df['PostalCode'].isnull()]

In [10]:
df.head()

  PostalCode           Borough     Neighbourhood
1        M1A      Not assigned      Not assigned
2        M2A      Not assigned      Not assigned
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront

In [11]:
df.tail()

    PostalCode       Borough          Neighbourhood
283        M8Z     Etobicoke              Mimico NW
284        M8Z     Etobicoke     The Queensway West
285        M8Z     Etobicoke  Royal York South West
286        M8Z     Etobicoke         South of Bloor
287        M9Z  Not assigned           Not assigned

In [12]:
df.drop(df[df['Borough']=="Not assigned"].index,axis=0, inplace=True)

In [13]:
df4 = df.reset_index()

In [14]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 4 columns):
index            210 non-null int64
PostalCode       210 non-null object
Borough          210 non-null object
Neighbourhood    210 non-null object
dtypes: int64(1), object(3)
memory usage: 6.6+ KB

In [15]:
df5= df4.groupby('PostalCode').agg(lambda x: ','.join(x))

In [16]:
df5.loc[df5['Neighbourhood']=="Not assigned",'Neighbourhood']=df5.loc[df5['Neighbourhood']=="Not assigned",'Borough']

In [17]:
df6 = df5.reset_index()

In [18]:
df6['Borough']= df6['Borough'].str.replace('nan|[{}\s]','').str.split(',').apply(set).str.join(',').str.strip(',').str.replace(",{2,}",",")

In [19]:
df6.head()

  PostalCode      Borough                         Neighbourhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [20]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 3 columns):
PostalCode       103 non-null object
Borough          103 non-null object
Neighbourhood    103 non-null object
dtypes: object(3)
memory usage: 2.5+ KB

In [21]:
df6.shape

(103, 3)

In [22]:
geocoder = 'http://cocl.us/Geospatial_data'

In [23]:
import pandas as pd

df =pd.read_csv(geocoder)

df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

i will merge the neighbourhoods plus  coordinates

In [24]:
df.shape

(103, 3)

In [29]:
df7 = df.set_index('Postal Code')

In [30]:
df8 = df.set_index('Postal Code')

In [31]:
df9 = pd.concat([df7, df8], axis=1, join='inner')

In [32]:
df9.index.name = 'Postal Code'

In [33]:
df9.reset_index(inplace=True)

In [34]:
df9.head()

  Postal Code   Latitude  Longitude   Latitude  Longitude
0         M1B  43.806686 -79.194353  43.806686 -79.194353
1         M1C  43.784535 -79.160497  43.784535 -79.160497
2         M1E  43.763573 -79.188711  43.763573 -79.188711
3         M1G  43.770992 -79.216917  43.770992 -79.216917
4         M1H  43.773136 -79.239476  43.773136 -79.239476

In [35]:
df9.tail()

    Postal Code   Latitude  Longitude   Latitude  Longitude
98          M9N  43.706876 -79.518188  43.706876 -79.518188
99          M9P  43.696319 -79.532242  43.696319 -79.532242
100         M9R  43.688905 -79.554724  43.688905 -79.554724
101         M9V  43.739416 -79.588437  43.739416 -79.588437
102         M9W  43.706748 -79.594054  43.706748 -79.594054